
header h1{
    padding: 10px 20px;
}

body {
    max-width: 970px !important;
}
.cart div{
  padding: 20px 50px 20px 60px;
  background-image: url(../images/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}

.row {
    padding-bottom: 50px;
}

.description {
  font-size: 150%;
  margin-top:50px;
}

.inventory-message {
  margin-left: 20px;
  font-weight: bold;
  font-size: 120%;
}

.product {
  margin-top: 30px;
  margin-left: 20px;
  max-height:300px;
  max-width:100%;
}
.figure {

}

.rating-active:before {
   content: "\2605";
   position: absolute;
}

.rating {
  display: inline;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.col img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}